
{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }} 


<section>
<div class="container">
    <div class="row">
        <div class="col py-5">
            <h2 class="py-2">Acerca de Fernando Hernandez Joaquin</h2>
<p>Soy un apasionado desarrollador web con experiencia en la creacion de sitios web interactivos y emocionantes juegos en linea.</p>

<p>Bienvenido a mi pagina web del juego de Piedra, Papel y Tijera! He creado este juego para brindarte una experiencia divertida y desafiante</p>
<p>Como desarrollador web, me enfoco en combinar diseño atractivo con funcionalidad solida, y me encantaria explorar nuevas tecnologias para mejorar la experiencia de usuario</p>
<p>Si tienes alguna pregunta o sugerencia sobre el juego o cualquier otro proyecto web, no dude en contactarme a traves de los siguientes enlaces:</P>

<ul class="py-3">
    <li><a href="https://www.facebook.com/fernando" target="_blank">Facebook</a></li>
<li><a href="https://www.youtube.com/channel/chanel" target="_blank">YouTube</a></li>
<li><a href="https://www.github.com/fehejogithub" target="_blank">GitHub</a></li>
</ul>
</div>
</div>
</div>


</section>

<!--<h1>Pagina de acerca de</h1>-->

{{ end }}


